@font-face {
    font-family: 'vintages';
    src: url('../fonts/Vintages.ttf');
}

html {
    font-size: 10px;
}

body {
    background-color: #b2ebf2;
    text-align: center;
    font-family: 'vintages';
}

#moves {
    width: 500px;
    margin: 50px auto 0px;
}

#moves img {
    width: 90px;
    background-color: white;
    padding: 20px;
    margin: 20px 17px 0;
    cursor: pointer;
    border-radius: 30px;
}

#display {
    width: 500px;
    height: 300px;
    margin: 20px auto;
    border-radius: 30px;
}

#start {
    font-size: 8rem;
    margin: auto;
    position: relative;
    top: 50px;
    text-align: center;
    background-color: #fff;
    border-radius: 30px;
    cursor: pointer;
    padding: 0px;
}

h3 {
    font-size: 2.5rem;
}

h2 {
    font-size: 3.5rem;
}